@media screen and (max-width: 425px) {
    .container3d {
        display: none;
    }


    .btnDown {
        display: none;
    }

    .container {
        justify-content: center;
        gap: 20px;
    }

    .text-content {
        display: none;
    }

    .cards-column {
        align-items: center;
        gap: 10px;
        margin-left: 0px;
    }
    
    .card {
        width: 80%;
        height: 230px;
    }
    
    .card:hover img {
        transform: none;
    }

    header {
        display: none;
    }

    .navigationResponsive {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: blur(20px);
        padding-top: 50px;
        z-index: 1;
      }
    
      .nav-links.active {
        display: flex;
      }
    
      .nav-links a,
      .nav-links button {
        margin: 10px 20px;
        font-size: 18px;
      }
      
      .nav-links button {
        background-color: transparent;
        border-radius: 20px;
        border: 1px solid #fff;
      }

    .Responh2 {
        display: flex;
    }

    .container-img {
        display: none;
    }

    .container-contact {
        justify-content: center;
        height: 100vh;
        width: 100%;
    }

    .container-right-text {
        width: 90%;
        height: 90%;
        margin: -40px 0px 0px 0px;
        padding: 35px;
    }

    .container-right-text i {
        margin-right: 8px;
    }

    .container-right-text h2 {
        font-size: 1.2rem;
        font-weight: 400;
        color: black;
      }
      .container-right-text p {
        margin-top: 12px;
        font-size: 1rem;
        font-weight: 500;
        color: aliceblue;
      }

      #firsticon {
        margin-top: 250px;
      }

      #btnDownCars {
        display: none;
      }
}